{% extends 'base.html.twig' %}
{% block title %}DFazendas - {{titulo}} {% endblock %}
{% block body %} 
<div class="container mt-3 shadow-lg p-3 mb-5 bg-white rounded">
    {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
        {% endfor %}
    </div>
   {% endif %}
    <h1>{{ titulo }}</h1>
    <table class="table">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Código</th>
               <th scope="col">Leite Produzido</th>
               <th scope="col">Ração</th>
               <th scope="col">Peso</th>
               <th scope="col">Estado</th>
               <th scope="col">Data de nascimento</th>
               <th scope="col">Ações</th>
           </tr>
       </thead>
       <tbody>
       {% for gado in gados %}
            <tr>
                <td>{{gado.id}}</td>
                <td>{{gado.codigo}}</td>
                <td>{{gado.leite|number_format(2, ',', '.')}} Litros</td>
                <td>{{gado.racao|number_format(2, ',', '.')}} Kg</td>
                <td>{{gado.peso|number_format(2, ',', '.')}} Kg</td>
                {%  if gado.estado == 1 %}
                    <td>Vivo</td>
                {% endif %}
                <td>{{gado.nascimento|date("d/m/Y")}}</td>
                <td>
                    <button id="btn-abater" data-id="{{ gado.id }}" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Abater
                    </button>
                </td>
            </tr>
        {% endfor %}      
        </tbody>
    </table>
    {% if gados is empty %}
       <div class="alert alert-primary" role="alert">Ainda não existem gados para o abate!</div> 
    {% endif %}    
    {{ knp_pagination_render(gados) }}
</div>
 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar abatimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja mandar o gado pro abate?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a id="abater" class="btn btn-danger">Abater</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
        <script>
            $(document).on('click', '#btn-abater', function (e) {
                a = document.getElementById('abater');
                const id =  $(this).data('id');
                a.setAttribute("href", "/gado/abater/" + id);
            });
       </script>
{% endblock %}
