{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-white rounded">
   <h1>{{titulo}}</h1>
   {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
        {% endfor %}
    </div>
   {% endif %}

   {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('error') %}
            {{ message }}
        {% endfor %}
    </div>
   {% endif %}
   {{ form(form) }}
</div>


{% endblock %}
