{% extends 'base.html.twig' %}
{% block title %}DFazendas - {{titulo}} {% endblock %}
{% block body %} 
{% if leite|length > 0 %}
    {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('error') %}
            {{ message }}
        {% endfor %}
    </div>
   {% endif %}
<div class="container p-3 bg-white mb-5 rounded"> 
    <h1 class="display-3 text-center">Painel</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card border-0 shadow-lg">
                <div class="card-body shadow" >
                    <h5 class="card-title text-center">Total de leite produzido na semana</h5>
                    <p class="h1 font-weight-bold text-center">{{leite|number_format(2, ',', '.')}} Litros</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-0 shadow-lg">
                <div class="card-body shadow">
                    <h5 class="card-title text-center">Total de ra칞칚o necess치ria por semana</h5>
                    <p class="h1 font-weight-bold text-center">{{racao|number_format(2, ',', '.')}} KG</p>
                </div>
            </div>
        </div>
        <div class="col-sm mb-5">
            <div class="card border-0 shadow-lg">
                <div class="card-body shadow">
                    <h5 class="card-title text-center">Gados que consomem mais de 500 KG e tem at칠 1 ano</h5>
                    <p class="h1 font-weight-bold text-center">{{consumo}}</p>
                </div>
            </div>
        </div>
    </div>
    {% if pesados|length < 3 %}
        <div class="alert alert-primary" role="alert">Cadastre no m칤nimo 3 gados para ver o ranking</div>
    {% else %}
    <h2 class="text-center">Top 3 Gados mais pesados</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
        <div class="col">
            <div class="card shadow">
                <img src="https://blogs.canalrural.com.br/coisasdocampo/wp-content/uploads/sites/11/2015/09/VACA-1.jpg" class="card-img-top" alt="gado">
                    <div class="card-body">
                        <h5 class="card-title">#3</h5>
                        <p class="card-text">Peso: {{pesados[2].peso}} KG</p>
                        <p class="card-text">C칩digo: {{pesados[2].codigo}}</p>
                        <p class="card-text">Data de Nascimento: {{pesados[2].nascimento|date("d/m/Y")}}</p>
                        <p class="card-text">Ra칞칚o di치ria: {{(pesados[2].racao/7)|number_format(2, ',', '.')}} KG</p>
                    </div>
             </div>
        </div>
        <div class="col">
            <div class="shadow">
                <div class="card shadow-lg">
                    <img src="https://www.reporteragro.com.br/imgsite/noticias/amp-portaldbo-agropontieri.png" class="card-img-top" alt="gado">
                    <div class="card-body shadow-lg">
                        <h5 class="card-title h2">#1 游끥</h5>
                        <p class="card-text">Peso: {{pesados[0].peso}} KG</p>
                        <p class="card-text">C칩digo: {{pesados[0].codigo}}</p>
                        <p class="card-text">Data de Nascimento: {{pesados[0].nascimento|date("d/m/Y")}}</p>
                        <p class="card-text">Ra칞칚o di치ria: {{(pesados[0].racao/7)|number_format(2, ',', '.')}} KG</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <img src="https://www.wmborrachas.com.br/fx-files/images/big/4_plgNewsPoster.jpg" class="card-img-top" alt="imagem de gado">
                <div class="card-body">
                    <h5 class="card-title h4">#2</h5>
                    <p class="card-text">Peso: {{pesados[1].peso}} KG</p>
                    <p class="card-text">C칩digo: {{pesados[1].codigo}}</p>
                    <p class="card-text">Data de Nascimento: {{pesados[1].nascimento|date("d/m/Y")}}</p>
                    <p class="card-text">Ra칞칚o di치ria: {{(pesados[1].racao/7)|number_format(2, ',', '.')}} KG</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-3">Top 3 maiores produtoras de leite</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
        <div class="col">
            <div class="card shadow">
                <img src="https://i1.wp.com/opresenterural.com.br/wp-content/uploads/2021/08/Vaccinar-Vaca-tratada-sem-elementos-secund%C3%A1rios_reduz.jpg?w=1400&ssl=1" alt="imagem de vaca">
                    <div class="card-body">
                        <h5 class="card-title">#3</h5>
                        <p class="card-text">Leite produzido: {{maiorProdutor[2].leite}} KG</p>
                        <p class="card-text">C칩digo: {{maiorProdutor[2].codigo}}</p>
                        <p class="card-text">Data de Nascimento: {{maiorProdutor[2].nascimento|date("d/m/Y")}}</p>
                        <p class="card-text">Ra칞칚o di치ria: {{(maiorProdutor[2].racao/7)|number_format(2, ',', '.')}} KG</p>
                    </div>
             </div>
        </div>
        <div class="col">
            <div class="shadow">
                <div class="card shadow-lg">
                    <img src="http://www.revistaveterinaria.com.br/wp-content/uploads/2015/05/leiteira_02.jpg" class="card-img-top" alt="imagem de vaca">
                    <div class="card-body shadow-lg">
                        <h5 class="card-title h2">#1 游끥</h5>
                        <p class="card-text">Leite produzido: {{maiorProdutor[0].leite}} KG</p>
                        <p class="card-text">C칩digo: {{maiorProdutor[0].codigo}}</p>
                        <p class="card-text">Data de Nascimento: {{maiorProdutor[0].nascimento|date("d/m/Y")}}</p>
                        <p class="card-text">Ra칞칚o di치ria: {{(maiorProdutor[0].racao/7)|number_format(2, ',', '.')}} KG</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/fc8c5cc1f52ab9ec962765d239d40548.jpg" class="card-img-top" alt="imagem de vaca">
                <div class="card-body">
                    <h5 class="card-title h4">#2</h5>
                    <p class="card-text">Leite produzido: {{maiorProdutor[1].leite}} KG</p>
                    <p class="card-text">C칩digo: {{maiorProdutor[1].codigo}}</p>
                    <p class="card-text">Data de Nascimento: {{maiorProdutor[1].nascimento|date("d/m/Y")}}</p>
                    <p class="card-text">Ra칞칚o di치ria: {{(maiorProdutor[1].racao/7)|number_format(2, ',', '.')}} KG</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm">
            <div class="card border-0 shadow-lg">
                <div class="card-body" >
                    <h5 class="card-title text-center">Total de gados abatidos <i class="fa-solid fa-skull-crossbones"></i></h5>
                    <p class="h1 font-weight-bold text-center">{{abatidos}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}        
{% else %}
    <div class="alert alert-danger" role="alert">Ainda n칚o existem dados cadastrados no sistema</div>
{% endif %}    
{% endblock %}
