{% extends 'base.html.twig' %}

{% block title %}DFazendas - Gados{% endblock %}

{% block body %}
<div class="container">
    {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
        {% endfor %}
    </div>
   {% endif %}
    <h1>{{ titulo }}</h1>
    <a href="{{path('gado_adicionar')}}" class="btn btn-primary">+ Adicionar novo gado</a>
    <table class="table">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Código</th>
               <th scope="col">Leite Produzido</th>
               <th scope="col">Ração</th>
               <th scope="col">Peso</th>
               <th scope="col">Estado</th>
               <th scope="col">Data de nascimento</th>
               <th scope="col">Ações</th>
           </tr>
       </thead>
       <tbody>
       {% for gado in gados %}
            <tr>
                <td>{{gado.id}}</td>
                <td>{{gado.codigo}}</td>
                <td>{{gado.leite}} Litros</td>
                <td>{{gado.racao}} Kg</td>
                <td>{{gado.peso}} Kg</td>
                {% if gado.estado == 1%}
                    <td>Vivo</td>
                {% else%}
                    <td>Abatido</td>     
                {% endif %}
                <td>{{gado.nascimento|date("d/m/Y")}}</td>
                <td>
                    <a href="{{ path('gado_editar', {id: gado.id}) }}" class="btn btn-outline-primary">Editar</a>
                        <!-- Button trigger modal -->
                    <button id="btn-excluir" data-id="{{ gado.id }}" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Excluir
                    </button>

                     <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        Tem certeza que deseja excluir o gado? A exclusão é irreversível!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <a id="excluir" class="btn btn-danger">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
              
{% endblock %}
{% block javascripts %}
        <script>
            $(document).on('click', '#btn-excluir', function (e) {
                a = document.getElementById('excluir');
                const id =  $(this).data('id');
                a.setAttribute("href", "/gado/excluir/" + id);
            });
       </script>
{% endblock %}
